<div class="formulario-cadastro">
    <img src="../../../assets/logo.png" alt="">
    <h1>Cadastre-se para divulgar seu serviço</h1>
    <div class="inputs">

        <div id="bigrow">
            <div class="row1">
                <input type="text" placeholder="Nome" id="nome" required>
            </div>

            <div class="row2">
                <input type="number" placeholder="CNPJ" id="cnpj" required>
                <div id="box"><input type="checkbox" name="checkcnpj" id="checkcnpj"><label for="checkcnpj">Não Possuo</label></div>
            </div>
        </div>

        <div class="row3">
            <input type="tel" placeholder="Telefone" id="telefone" required>
            <input type="number" placeholder="CEP" id="cep" required>
        </div>

        <div class="row4">
            <input type="text" placeholder="Endereço" id="endereco" required>
        </div>

        <div class="row5">
            <input type="text" placeholder="Nome de Usuário" id="username" required>
            <input type="email" placeholder="Email" id="email" required>
        </div>

        <div class="row6">
            <input type="password" placeholder="Senha" id="senha" required>
            <input type="password" placeholder="Confirmar Senha" id="confirmasenha" required>
        </div>
    </div>

    <div class="botoes">
        <button type="reset" id="cancelar" (click)="navigateToHome()">Cancelar</button>
        <button type="submit" id="cadastrar" (click)="edit()">Cadastrar</button>
    </div>
</div>
