.conteudo-home{
    display: flex;
    justify-content: space-between;
}

.about{
    text-align: center;
    padding: 5rem 5rem 0 5rem;
}

.logo{
    padding: 0 1rem 0 1rem;
}

img{
    height: 90%;
}
