<div class="conteudo-home">
    <div class="about">
        <h1>O que é a Pocket Party?</h1>
        <h3 style="padding-top: 30px; padding-bottom: 20px;">A Pocket Party é uma plataforma exclusiva de Campina Grande que foi desenvolvida pelos alunos da Universidade Federal de Campina Grande. Aqui você vai encontrar a maior diversidade em festas e eventos, tudo que você precisa está aqui!</h3>
      <div class="buttons">
        <button class="btn" id="customBtn1" (click)="client()">Monte sua festa com a gente</button>
        <div style="margin: 1rem;"><h1 style="color: rgb(153, 0, 114);">ou</h1></div>
        <button class="btn" id="customBtn2" (click)="company()">Divulgue seu serviço</button>
      </div>
    </div>
    <div class="logo"><img src="../../../assets/logo.png" alt=""></div>
</div>
