<div class="menu-topo">
    <a (click)="getHome()" style="cursor: pointer;">
        <div class="logo-nome">
            <div>
                <img src="../../assets/logo.png" class="logo">
            </div>
            <h1>Pocket Party</h1>
        </div>
    </a>

<ng-container *ngIf="!signed()">
  <div class="profile-icon">
    <mat-icon class="mat-icon-large" style="color: var(--primary-color);"> person</mat-icon>
  </div>
</ng-container>


 <ng-container  *ngIf="signed()">

<div class="buttons">
      <button id="cadastro" class="botao" (click)="openModal()">Cadastre-se</button>
      <button id="login" class="botao" (click)="navigateToLogin()">Login</button>
</div>

<div class="modal" *ngIf="showModal" (click)="closeModal($event)">
  <div class="modal-content">
    <app-cadastro-modal></app-cadastro-modal>
  </div>
</div>

</ng-container>
