
.menu-topo{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo{
    height: 3rem;
    width: 3rem;
    padding: 1rem;
}

a{
    text-decoration: none;
}

.logo-nome{
    padding-left: 1rem;
    display:flex;
    align-items: center;

}

button:hover{
    cursor: pointer;
}

#cadastro{
    width: 7rem;
    border: 3px solid var(--light-warning-color);
    color: var(--light-warning-color);
}
#cadastro:hover{
    background-color: var(--light-warning-color);
    color: var(--our-white-color);
    transition-duration: .7s;
}

#login{
    width: 5rem;
    border: 3px solid var(--primary-color);
    color: var(--primary-color);
}
#login:hover{
    background-color: var(--primary-color);
    color: var(--our-white-color);
    transition-duration: .7s;
}
.botao{
    background: none;
    height: 3rem;
    margin:1rem;
    border-radius: 8px;
    font-family: "Inter", serif;
    font-weight: bold;
}
.buttons{

    display: flex;
}

.modal {
  position: fixed; /* Posiciona o modal em relação à janela */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Fundo escurecido semitransparente */
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content {
  background-color: white;
  padding: 20px;
  border-radius: 5px;
  box-shadow: rgb(83 76 85) 0px 2px 9px 2px;
  /* Adicione outros estilos para personalizar o conteúdo do modal */
}
