<div class="menu-topo">
    <a href="/home">
        <div class="logo-nome">
            <div>
                <img src="../../assets/logo.png" class="logo">
            </div>
            <h1>Pocket Party</h1>
        </div>
    </a>

    <div class="buttons">
      <button id="cadastro" class="botao" (click)="openModal()">Cadastre-se</button>
      <button id="login" class="botao" (click)="navigateToLogin()">Login</button>
    </div>
</div>

<div class="modal" *ngIf="showModal" (click)="closeModal($event)">
  <div class="modal-content">
    <app-cadastro-modal></app-cadastro-modal>
  </div>
</div>
