img{
  width: 25rem;
}

h2{
  font-family: " Quicksand", serif;
  color: var(--warning-color);
}

h3{
  font-family: "Inter", serif;
  font-weight: normal;
  color: #030911;
  font-size: smaller;
}
.details{
  display: flex;
}

.info{
  margin: 2rem;
}
