<div class="formulario-cadastro">
    <img src="../../../assets/logo.png" alt="">
    <h1>Cadastre-se para montar sua festa</h1>
    <div class="inputs">
        
        <div class="row1">
            <input type="text" placeholder="Nome" id="nome" required>
            <input type="number" placeholder="CPF" id="cpf" required>
        </div>
        
        <div class="row2">    
            <input type="tel" placeholder="Telefone" id="telefone" required>
            <input type="number" placeholder="CEP" id="cep" required>
        </div>
        
        <div class="row3">    
            <input type="text" placeholder="Endereço" id="endereco" required>
        </div>

        <div class="row4">
            <input type="text" placeholder="Nome de Usuário" id="username" required>
            <input type="email" placeholder="Email" id="email" required>
        </div>

        <div class="row5">
            <input type="password" placeholder="Senha" id="senha" required>
            <input type="password" placeholder="Confirmar Senha" id="confirmasenha" required>
        </div>
    </div>

    <div class="botoes">
        <button type="reset" id="cancelar">Cancelar</button>
        <button type="submit" id="cadastrar">Cadastrar</button>
    </div>
</div>