.formulario-login {
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 10px;
    margin-bottom: 10px;
    height: 25rem;
    width: 25rem;
    margin: 0 auto;
    background-color: var(--our-white-color);
    text-align: center;
}

img{
    height: 5rem;
    width: 5rem;
    padding-top: 1rem;
}

input{
    margin: .4rem ;    
    width: 20rem;
    height: 1.7rem;
    border: 1px solid var(--primary-color);
    border-radius: 5px;
}

input:focus {
    outline: 1px solid var(--primary-color);
}
.botoes{
    padding: 1rem;
}

button{
    padding: .8rem;
    margin: .5rem;
    border: solid 2px;
    border-radius: 6px;
    color: var(--our-white-color);
}

#cancelar{
    background-color: var(--warning-color);

}
#cancelar:hover{
    background-color: var(--our-white-color);
    color: var(--warning-color);  
    transition-duration: .7s;

}

#login{
    background-color: var(--primary-color);
}
#login:hover{
    background-color: var(--our-white-color);
    color: var(--primary-color);
    transition-duration: .7s;
}