<div class="desc_loja">
    <div class="logo_loja"><img src="{{storeData.image}}" alt=""></div>
    <div class="informacoes_textuais">
        <div class="upperside">
            <div class="titulo_loja"><h1>{{name}}</h1>
                <a href="" target="_blank">
                    <i class="fa fa-pencil" aria-hidden="true" id="editar"></i>
                </a>
            </div>
                <div class="info">
                    <div class="informativo">Decoração</div>
                    <div class="informativo">Cerimonial/Serviços</div>
                    <div class="informativo">Buffet</div>
                </div>
        </div>

        <div class="texto_loja">
            <h4>{{descipiton}}</h4>
        </div>
    </div>
</div>
<div class="teste">
    <div class="selecao_produtos">
        <div class="product_row">Aniversário</div>
        <div class="product_row">Casamento</div>
        <div class="product_row">Formatura</div>
        <div class="product_row">Festa Infantil</div>
        <div class="product_row">Pool Party</div>
        <div class="product_row">Noivado</div>
        <div class="product_row">Cerimônias</div>
    </div>
</div>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">

<div class="contatos">
    <a href="https://www.facebook.com/seu_perfil" target="_blank">
        <i class="fab fa-facebook"></i>
    </a>
    <a href="https://wa.me/seu_numero" target="_blank">
        <i class="fab fa-whatsapp"></i>
    </a>
    <a href="https://www.instagram.com/seu_perfil" target="_blank">
        <i class="fab fa-instagram"></i>
    </a>
    <a href="mailto:seuemail@example.com" target="_blank">
        <i class="fas fa-envelope"></i>
    </a>
</div>

<div class="ourproducts">
    <div class="titulo_input">
        <div class="nossos_produtos">
            <h1>{{label}}</h1>
            <a (click)="openModal()" target="_blank">
                <i class="fa fa-plus-circle" aria-hidden="true" id="editar"></i>
            </a>
        </div>
    </div>
        <input type="text" [(ngModel)]="searchText" class="search-bar" placeholder="Procure seu produto">
    <div class="items">
        <div *ngFor="let item of filteredItems()" class="item-card">
          <button (click)="openProductModal(item)" style="background: none; border: none;">
            <!-- Imagem do item -->
            <img [src]="item.image" alt="{{ item.name }}" class="item-image">

            <!-- Nome do item -->
            <div class="item-details">
                <h1>{{ item.name }}</h1>
                <p class="item-price">{{ item.price | currency:'BRL' }}</p> <!-- Preço formatado -->
            </div>
            <div style="display: flex; flex-wrap: wrap; justify-content: space-evenly;">
              <div style="margin-bottom: 1rem;" *ngIf="item.category[0]"><div class="labelCat3"><h5>Balões</h5></div></div>
              <div style="margin-bottom: 1rem;" *ngIf="item.category[1]"><div class="labelCat4"><h5>Serviços</h5></div></div>
              <div style="margin-bottom: 1rem;" *ngIf="item.category[2]"><div class="labelCat3"><h5>Bebidas</h5></div></div>
              <div style="margin-bottom: 1rem;" *ngIf="item.category[3]"><div class="labelCat4"><h5>Buffet</h5></div></div>
              <div style="margin-bottom: 1rem;" *ngIf="item.category[4]"><div class="labelCat3"><h5>Descartáveis</h5></div></div>
              <div style="margin-bottom: 1rem;" *ngIf="item.category[5]"><div class="labelCat4"><h5>Decoração</h5></div></div>
              <div style="margin-bottom: 1rem;" *ngIf="item.category[6]"><div class="labelCat3"><h5>Brinquedos</h5></div></div>
            </div>
          </button>
        </div>
    </div>
    <div class="modal" *ngIf="showModal" (click)="closeModal($event)">
      <div class="modal-content">
        <app-product-modal></app-product-modal>
      </div>
    </div>

    <div class="modal2" *ngIf="showProductModal" (click)="closeProductModal($event)">
      <div class="modal-content2">
        <app-show-product-modal [data]="product"></app-show-product-modal>
      </div>
