<div class="categories">
  <h1 style="margin-top: 0;">Qual o seu evento?</h1>

  <div class="categoriesBtn">
    <button class="btn" id="btn1">Aniversário</button>
    <button class="btn" id="btn2">Casamento</button>
    <button class="btn" id="btn3">Formatura</button>

    <button class="btn" id="btn4">Festa Infantil</button>

    <button class="btn" id="btn5">Pool Party</button>
    <button class="btn" id="btn6">Noivado</button>
    <button class="btn" id="btn7">Religioso</button>
  </div>

</div>

<div class="categories">
  <h1>Pesquise por categoria</h1>

  <div class="categoriesBtn">
    <button class="btn2" id="btn01">Balões</button>
    <button class="btn2" id="btn02">Serviços</button>
    <button class="btn2" id="btn03">Bebidas</button>

    <button class="btn2" id="btn04">Buffet</button>

    <button class="btn2" id="btn05">Descartáveis</button>
    <button class="btn2" id="btn06">Decoração</button>
    <button class="btn2" id="btn07">Brinquedos</button>
  </div>

</div>

<div class="categories">
  <h1>Empresas na sua região</h1>
  <div style="display: flex; flex-wrap: wrap;justify-content: space-evenly;">
    <ng-container *ngFor="let item of items">
      <button type="hidden" (click)="goToLoja(item)" style="background: none; border: none;">
        <div class="empresa">
          <img src="{{ item.image }}" alt="">
          <h3>{{ item.name }}</h3>
          <div style="display: flex; flex-wrap: wrap; justify-content: space-evenly;">
            <!-- Itera sobre as tags da empresa -->
            <div *ngFor="let tag of item.enterprises_tags" style="margin-bottom: 1rem;">
              <div class="labelCat">
				<div style="margin-bottom: 1rem;"><div class="labelCat3"><h5>{{ tag.tags.tag_name }}</h5></div></div>
              </div>
            </div>
          </div>
        </div>
      </button>
    </ng-container>
  </div>

</div>
